:root {
  --color--border: rgba(0, 0, 0, 0.2);
  --color--shadow: rgba(0, 0, 0, 0.35);
  --color--primary: #03bb00;
  --color--text: rgba(0, 0, 0, 0.9);
  --color--text--faded: rgba(0, 0, 0, 0.6);

  color: var(--color--text);
}
