* {
  border: unset;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

input:focus {
  outline: none;
}
