# Core Verification

Deprecated, please see [light-client/verification](https://github.com/cometbft/cometbft/blob/v0.34.x/spec/light-client/verification).
