name: e2e
# Runs the CI end-to-end test network on all pushes to main or release branches
# and every pull request, but only if any Go files have been changed.
on:
  workflow_dispatch:  # allow running workflow manually
  pull_request:
  merge_group:
  push:
    branches:
      - main
      - v[0-9].[0-9]+.x

jobs:
  e2e-test:
    # Run two parallel jobs: for `ci.toml`, and for the regression manifests
    strategy:
      fail-fast: false
      matrix:
        group: ['networks/ci', 'networks_regressions/*']
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum

      - name: Build
        working-directory: test/e2e
        run: make -j2 docker runner
        if: "env.GIT_DIFF != ''"

      - name: Run "${{ matrix.group }}"" testnet
        working-directory: test/e2e
        run: ./run-multiple.sh ${{ matrix.group }}.toml
        if: "env.GIT_DIFF != ''"
