name: Lint, format and check the code for typos
# Lint runs `make lint`
#
# This workflow is run on every pull request and push to main and any feature branch.
#
# To run this locally, simply run `make lint` from the root of the repo.

on:
  pull_request:
    branches:
      - main
      - feature/**
  merge_group:
  push:
    branches:
      - main
      - feature/**

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - uses: actions/checkout@v4
      - uses: pre-commit/action@v3.0.0
