name: Protobuf Lint
on:
  pull_request:
    paths:
      - 'proto/**'
  merge_group:
  push:
    branches:
      - main
    paths:
      - 'proto/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1.40.1
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: 'proto'
