name: Protobuf Lint
on:
  pull_request:
    paths:
      - 'proto/**'
  push:
    branches:
      - v0.38.x
    paths:
      - 'proto/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: bufbuild/buf-action@v1
        with:
          input: 'proto'
          version: '1.50.0'
