name: Protobuf Lint
on:
  pull_request:
    paths:
      - 'proto/**'
  merge_group:
  push:
    branches:
      - v1.x
    paths:
      - 'proto/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1.50.0
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: 'proto'
