# Test if the Slack notification and Github Actions integration is working
# Manually running this workflow should trigger a message that is successfully
# delivered to Slack

name: Test Slack Notification
on:
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack with Test message
        uses: slackapi/slack-github-action@v2.1.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: ":inbox_tray: CometBFT test message from Github Actions"
